<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Bem-vindo ao Blog app</h1>
    <p class="col-md-8 fs-4">
      Usando classes utilitárias, podemos criar um bloco de destaque como nas versões anteriores.
    </p>
    <button class="btn btn-primary btn-lg" type="button">Crie uma conta</button>
  </div>
</div>

<hr>

<h2>Postagens recentes: </h2>


{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais </button></a>
      <hr>
      <small>Categoria: {{categorias.nome}}</small> <br>
      <small>data de publicação: {{data}}</small>
    </div>
</div>
{{else}}
    <h5>Nenhuma postagem</h5>
{{/each}}    